/* --- Variables --- */
:root {
    /* --- Primarys --- */
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* --- Gradients --- */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* --- Neutral --- */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavander: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

/* --- Basic Reset --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--pale-blue);
}

/* --- Container Main --- */
.results-container {
    background-color: var(--white);
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-direction: column;
}

/* --- Left Painel (Results) --- */
.result-score {
    background: linear-gradient(
        var(--light-slate-blue),
        var(--light-royal-blue)
    );
    padding: 2.5rem;
    border-radius: 0 0 2rem 2rem;
    text-align: center;
    color: var(--white);
}
.result-score-title {
    color: var(--light-lavander);
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}
.result-score-circle {
    width: 140px;
    height: 140px;
    margin: 0 auto 1.5rem;
    border-radius: 50%;
    background: linear-gradient(
        var(--violet-blue),
        var(--persian-blue)
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.result-score-number {
    font-size: 3.5rem;
    font-weight: 800;
    display: block;
}
.result-score-total {
    color: var(--light-lavander);
    opacity: 0.6;
    font-size: 0.9rem;
}
.result-score-status {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.result-score-description {
    color: var(--light-lavander);
    font-size: 1rem;
    line-height: 1.3;
}

/* --- Right Painel (Summary) --- */
.summary {
    padding: 2rem;
}
.summary-title {
    font-size: 1.2rem;
    color: var(--dark-gray-blue);
    margin-bottom: 1.5rem;
}
.summary-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.summary-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.5rem;
}
.summary-item-left {
    display: flex;
    gap: 0.75rem;
    font-weight: 700;
}
.summary-score {
    color: var(--dark-gray-blue);
    font-weight: 700;
}
.summary-score strong {
    color: black;
}

/* --- Dynamic Colors for the Items --- */
.summary-item[data-category="reaction"] {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: var(--light-red);
}
.summary-item[data-category="memory"] {
    background-color: hsla(39, 100% 56%, 0.1);
    color: var(--orange-yellow);
}
.summary-item[data-category="verbal"] {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: var(--green-teal);
}
.summary-item[data-category="visual"] {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: var(--cobalt-blue);
}
.summary-button {
    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--dark-gray-blue);
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s;
}
.summary-button:hover,
.summary-button:active {
    background: linear-gradient(
        var(--light-slate-blue),
        var(--light-royal-blue)
    );
}

/* --- Footer --- */
.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 1REM; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none; 
}
/* --- Desktop --- */
@media (min-width: 600px) {
    .results-container {
        flex-direction: row;
        max-width: 650px;
        border-radius: 2rem;
        box-shadow:  20px 20px 60px rgba(0,0,0,0.5);
    }
    .result-score {
        flex: 1;
        border-radius: 2rem;
    }
    .summary {
        flex: 1;
    }
}